 body{
    background-color:honeydew;
  }
  hr{
    background-color: honeydew;
    border-style: dotted none none none;
    border-width: 8px;
    border-top-color:grey ;
    width: 5%;
    height: 12px;

  }
  h1,h3{
      color: #66BFBF;
  }